In [1]:
import pandas as pd
from trino import dbapi
from trino.auth import BasicAuthentication
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError # 引入异常处理
from urllib.parse import quote_plus
from datetime import datetime, timedelta
import numpy as np


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 1000)

In [2]:
DB_HOST = 'rm-bp1o6283vw74wr4x5.mysql.rds.aliyuncs.com'
DB_PORT = 3306
DB_USER = 'on_ds_test' 
DB_PASS = quote_plus('HC73aA7aeLxJFLFH_@bPeHkv')
DB_NAME = 'on_ds_test'

DATABASE_URL = f"mysql+pymysql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}?charset=utf8mb4"

try:
    engine = create_engine(DATABASE_URL)
    print("✅ 数据库连接引擎创建成功。")
except Exception as e:
    print(f"❌ 数据库连接失败: {e}")
    sys.exit()

✅ 数据库连接引擎创建成功。

# ========================== DIGITAL BEHAVIOR ==========================

## ========= READ PRODUCT TABLE ========

In [3]:
# ===================== PRODUCT ===================== #

PRODUCT_MYSQL = 'dim_product_colors_info'
try:
    product = pd.read_sql_table(
        table_name=PRODUCT_MYSQL,
        con=engine
    )

    print(f"\n✅ 成功加载表 '{PRODUCT_MYSQL}'，共 {len(product)} 行。")
    print("\nDataFrame 头部数据:")
    display(product.head()) 

except Exception as e:
    print(f"❌ 加载表时出错: {e}")

✅ 成功加载表 'dim_product_colors_info'，共 7081 行。

DataFrame 头部数据:

,product_id(style),available from,color,gender,shoes_gender,product name,price,model,category,community,style_conditions,terrain,scene_cn,season,picture,style_bottoms,style_tops,vertical,style_sku
0,101.00001,2019-02-14,Navy,mens,mens,Comfort-T Navy M SS19,490.0,Comfort-T,Apparel,Tops and t-shirts,warm,,None,None,https://oss.on-running.cn/contentful_dtc/149f4...,None,Short sleeves,Performance All Day,101CMFRT
1,101.00002,2019-02-14,Grape,mens,mens,Comfort-T Grape M SS19,490.0,Comfort-T,Apparel,Tops and t-shirts,warm,,None,None,https://oss.on-running.cn/contentful_dtc/16b79...,None,Short sleeves,Performance All Day,101CMFRT
2,101.00039,2019-08-13,Camel,mens,mens,Comfort-T Camel M FW19,490.0,Comfort-T,Apparel,Tops and t-shirts,warm,,None,None,https://oss.on-running.cn/contentful_dtc/0281d...,None,Short sleeves,Performance All Day,101CMFRT
3,101.00090,2021-10-04,Olive,mens,mens,On-T Olive M,490.0,On-T,Apparel,Tops and t-shirts,None,,"综训,日常","[""spring"",""summer"",""Autumn"",""Winter""]",https://oss.on-running.cn/contentful_dtc/37bd2...,None,Short sleeves,Performance All Day,101
4,101.00143,2020-02-18,Grey,mens,mens,On-T Grey M SS20,490.0,On-T,Apparel,Tops and t-shirts,None,,"综训,日常","[""spring"",""summer"",""Autumn"",""Winter""]",https://oss.on-running.cn/contentful_dtc/5b016...,None,Short sleeves,Performance All Day,101

## ======== READ TRACKING DATA ========

In [4]:
CURRENT_DATE = pd.to_datetime(datetime.now().date()) # 实际应用中可以使用当前系统日期
CURRENT_DATE_SQL = f"'{CURRENT_DATE.strftime('%Y-%m-%d')}'"
R6M_DATE = CURRENT_DATE - pd.DateOffset(months=6)
R6M_DATE_SQL = f"'{R6M_DATE.strftime('%Y-%m-%d')}'"

# 配置Trino连接
conn = dbapi.connect(
    host='192.168.0.163',
    port=8082,
    user='ta',
    # auth=BasicAuthentication("your-username", "your-password"),
    catalog='hive',  # 根据你的Trino配置指定catalog
    schema='ta'
)

# 执行查询
query = f'''SELECT 
"#event_name" as event_name,
"#event_time" as event_time,
"#account_id" as account_id,
"page_type",
"#os" as os,
"login_pt",
"#mp_platform" as mp_platform,
"current_status",
"product_name", --加购 & PDP
"product_type", --加购 & PDP
"search_term", --搜索
"product_id" -- PDP
FROM v_event_3
where "#account_id" is not null 
and "#event_time" > date({R6M_DATE_SQL}) and "#event_time" < date({CURRENT_DATE_SQL})
and "#event_name" in ('add_to_cart','pdp_view','plp_category_navi_click','search')
'''
event = pd.read_sql(query, conn)


print(event.head())
print(event.shape)
print(event.describe())
print(event.dtypes)


# "to_page_type", --运营位点击
# "item_rank",--运营位点击
# "to_page_path", --运营位点击
# "component_type",--运营位点击
# "module_rank",--运营位点击
# "component_name",--运营位点击
# "item_name",--运营位点击
# "module_name" --运营位点击
# 'MktClick'
# "cat_level", --点击品类
# "cat_list", --点击品类
# "click_type", --点击品类
# "cat_name" --点击品类
# "channel", --广告归因
# "if_employee",
# "page_cat1", 
# "page_cat2",
# "page_cat3",
# "refer_page_type",
# "current_page_path",
# "#province" as province,
# "#city" as city,

/tmp/ipykernel_517/3651439163.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  event = pd.read_sql(query, conn)

    event_name              event_time                            account_id  \
0     pdp_view 2025-11-23 21:45:52.244  26e66d78-c9c7-43eb-8ff2-2896873db4f8
1  add_to_cart 2025-07-01 17:51:45.764  15343f56-76fd-4ba2-9116-84edd7228e51
2  add_to_cart 2025-07-01 12:01:15.663  42897134-d964-4db4-afd8-5b22f176a9ab
3  add_to_cart 2025-07-01 13:46:08.798  1fc88076-c081-472b-a513-3f4258419634
4  add_to_cart 2025-07-01 14:31:48.678  99727c81-dbac-4150-b6ad-56798576c9c9

  page_type       os login_pt mp_platform current_status      product_name  \
0       pdp      iOS      小程序      wechat             游客       Cloud 6 SHF
1       pdp      iOS      小程序      wechat           登录用户     THE ROGER Pro
2       pdp      iOS      小程序      wechat           登录用户     Cloud 6 Coast
3       pdp  Android      小程序      wechat           登录用户  THE ROGER ADV Z5
4       pdp      iOS      小程序      wechat           登录用户         Cloudzone

  product_type search_term   product_id
0        Shoes        None  3MF31104971
1        Shoes        None         None
2        Shoes        None         None
3        Shoes        None         None
4        Shoes        None         None
(4423707, 12)
                          event_time
count                        4423707
mean   2025-09-10 19:30:43.974534144
min       2025-05-24 00:00:21.770000
25%       2025-08-09 20:37:31.992000
50%    2025-09-14 16:49:11.796999936
75%    2025-10-18 20:12:00.195999744
max       2025-11-23 23:59:51.920000
event_name                object
event_time        datetime64[ns]
account_id                object
page_type                 object
os                        object
login_pt                  object
mp_platform               object
current_status            object
product_name              object
product_type              object
search_term               object
product_id                object
dtype: object

## ======= PDP & ATC =======

In [5]:
event['event_time'] = pd.to_datetime(event['event_time'])

# 步骤 2: 合并产品类别信息
merged_df = event.merge(
    product[['model', 'vertical']],
    left_on='product_name',
    right_on='model',
    how='left'
)

mapping_dict = {
    'Performance All Day': 'all_day',
    'PAD': 'all_day',
    'Performance Running': 'running',
    'PR': 'running',
    'Performance Training ': 'training',
    'PTR': 'training',
    'Performance Outdoor': 'outdoor',
    'PO': 'outdoor',
    'Performance Tennis': 'tennis',
    'PT': 'tennis'
}

merged_df['vertical'] = merged_df['vertical'].replace(mapping_dict)

merged_df = merged_df[merged_df['vertical'].isin(['all_day','running','training','outdoor','tennis'])]

# 检查是否有未匹配的产品（如果出现NaN，可能需要清洗或补充产品信息表）
if merged_df['vertical'].isnull().any():
    print("⚠️ 警告: 存在未能匹配到产品类别的记录。")
    merged_df.dropna(subset=['vertical'], inplace=True)

print("--- 合并后的数据 (merged_df) ---")
print(merged_df.head())
print("-" * 40)

--- 合并后的数据 (merged_df) ---
    event_name              event_time                            account_id  \
0     pdp_view 2025-11-23 21:45:52.244  26e66d78-c9c7-43eb-8ff2-2896873db4f8
1     pdp_view 2025-11-23 21:45:52.244  26e66d78-c9c7-43eb-8ff2-2896873db4f8
2     pdp_view 2025-11-23 21:45:52.244  26e66d78-c9c7-43eb-8ff2-2896873db4f8
3     pdp_view 2025-11-23 21:45:52.244  26e66d78-c9c7-43eb-8ff2-2896873db4f8
4  add_to_cart 2025-07-01 17:51:45.764  15343f56-76fd-4ba2-9116-84edd7228e51

  page_type   os login_pt mp_platform current_status   product_name  \
0       pdp  iOS      小程序      wechat             游客    Cloud 6 SHF
1       pdp  iOS      小程序      wechat             游客    Cloud 6 SHF
2       pdp  iOS      小程序      wechat             游客    Cloud 6 SHF
3       pdp  iOS      小程序      wechat             游客    Cloud 6 SHF
4       pdp  iOS      小程序      wechat           登录用户  THE ROGER Pro

  product_type search_term   product_id          model vertical
0        Shoes        None  3MF31104971    Cloud 6 SHF  all_day
1        Shoes        None  3MF31104971    Cloud 6 SHF  all_day
2        Shoes        None  3MF31104971    Cloud 6 SHF  all_day
3        Shoes        None  3MF31104971    Cloud 6 SHF  all_day
4        Shoes        None         None  THE ROGER Pro   tennis
----------------------------------------

In [6]:

# 定义要分别计算的事件名称
EVENT_PDP_VIEW = 'pdp_view'
EVENT_ADD_TO_CART = 'add_to_cart'
BASE_COLUMNS = ['account_id', 'vertical'] # 保持这两个列为计算分组键


# --- 步骤 2: 定义计算函数 (无变化) ---

def calculate_affinity_metrics(df, event_name, prefix):
    """
    计算特定事件的 6 个月次数和距今天数，按 account_id 和 product_category 分组。
    """

    event_df = df[df['event_name'] == event_name].copy()
    if event_df.empty:
        return None

    # A. 计算过去六个月的次数 (6M_Count)
    count_result = event_df.groupby(
        BASE_COLUMNS
    ).size().reset_index(name=f'{prefix}6M_Count')

    # B. 计算最近一次距今的天数 (Days_Since_Last)
    latest_time_result = event_df.groupby(
        BASE_COLUMNS
    )['event_time'].max().reset_index(name='Latest_Action_Time')

    latest_time_result[f'{prefix}Days_Since_Last'] = (
        CURRENT_DATE - latest_time_result['Latest_Action_Time']
    ).dt.days

    # 合并次数和天数结果
    final_metrics = pd.merge(
        count_result,
        latest_time_result.drop(columns=['Latest_Action_Time']),
        on=BASE_COLUMNS,
        how='outer'
    )
    return final_metrics

In [7]:
# --- 步骤 3: 分别计算 PDP Click 和 Add to Cart 并合并中间结果 ---

pdp_result = calculate_affinity_metrics(merged_df, EVENT_PDP_VIEW, 'PDP_View_')
atc_result = calculate_affinity_metrics(merged_df, EVENT_ADD_TO_CART, 'ATC_')



# 将 PDP 和 ATC 的指标结果合并，得到一个包含所有 4 个指标的 DataFrame
# 此时数据结构仍然是 Long Format (多行，一行对应一个 account_id/category)
intermediate_result = pd.merge(
    pdp_result,
    atc_result,
    on=BASE_COLUMNS,
    how='outer'
)

# 填充次数为 0，天数缺失值（如果用户从未有该行为，则留 NaN 或填充 9999）
intermediate_result = intermediate_result.fillna({
    'PDP_View_6M_Count': 0,
    'PDP_View_Days_Since_Last':9999,
    'ATC_6M_Count': 0,
    'ATC_Days_Since_Last':9999
})

In [8]:
intermediate_result.head(20)

,account_id,vertical,PDP_View_6M_Count,PDP_View_Days_Since_Last,ATC_6M_Count,ATC_Days_Since_Last
0,00003ee6-0002-49bc-b0d2-844bece6998e,all_day,0.0,9999.0,20.0,120.0
1,00009933-9895-436c-9db9-8fd563bb1e7a,all_day,79.0,104.0,3.0,104.0
2,000218fe-79bc-4727-8e42-a58ef8633245,all_day,18.0,8.0,0.0,9999.0
3,00031433-8c5b-4aeb-bbe0-d5946466d931,all_day,6.0,45.0,0.0,9999.0
4,00037415-438a-4a85-b67e-d6949e5551e1,all_day,291.0,75.0,0.0,9999.0
5,00037415-438a-4a85-b67e-d6949e5551e1,outdoor,6.0,93.0,0.0,9999.0
6,00037415-438a-4a85-b67e-d6949e5551e1,running,215.0,73.0,13.0,141.0
7,00037415-438a-4a85-b67e-d6949e5551e1,tennis,578.0,67.0,0.0,9999.0
8,00037415-438a-4a85-b67e-d6949e5551e1,training,510.0,76.0,0.0,9999.0
9,0003a126-05d2-4fbd-91ec-760062724ecd,running,0.0,9999.0,16.0,153.0
10,0003d0c6-d747-4861-8fc3-1016e4c30920,all_day,272.0,97.0,0.0,9999.0
11,0003d0c6-d747-4861-8fc3-1016e4c30920,running,73.0,97.0,0.0,9999.0
12,00042cbb-7a89-42b4-91bd-e75090ee6f19,all_day,24.0,13.0,0.0,9999.0
13,00042cbb-7a89-42b4-91bd-e75090ee6f19,running,2.0,110.0,0.0,9999.0
14,000486f9-8cb9-4ead-853c-a8c8aaaa28de,outdoor,10.0,41.0,0.0,9999.0
15,000486f9-8cb9-4ead-853c-a8c8aaaa28de,tennis,11.0,41.0,2.0,41.0
16,00056c06-7b8f-45fe-b29c-8480f5222ed9,all_day,118.0,42.0,0.0,9999.0
17,00056c06-7b8f-45fe-b29c-8480f5222ed9,outdoor,2.0,45.0,0.0,9999.0
18,00056c06-7b8f-45fe-b29c-8480f5222ed9,running,20.0,42.0,2.0,74.0
19,00056c06-7b8f-45fe-b29c-8480f5222ed9,training,152.0,42.0,0.0,9999.0

In [9]:
# --- 步骤 4: 创建完整的基准表 (保障所有组合存在) ---

# !!! 定义必需的 Vertical 列表 !!!
REQUIRED_VERTICALS = ['running', 'training', 'outdoor', 'all_day', 'tennis']


all_account_ids = merged_df['account_id'].unique()

# account_id X REQUIRED_VERTICALS Cartesian Product
all_combinations_df = pd.MultiIndex.from_product(
    [all_account_ids, REQUIRED_VERTICALS],
    names=BASE_COLUMNS
).to_frame(index=False)


base_result = pd.merge(
    all_combinations_df,
    intermediate_result,
    on=BASE_COLUMNS,
    how='left'
)

# 再次填充缺失值：所有新增的组合，次数都应该是 0
base_result = base_result.fillna({
    'PDP_View_6M_Count': 0,
    'PDP_View_Days_Since_Last':9999,
    'ATC_6M_Count': 0,
    'ATC_Days_Since_Last':9999
})


# --- 步骤 5: 关键的特征 Wide Format (透视/展开) 转换 ---

# 设置 'account_id' 和 'product_category' 为 MultiIndex
df_pivot = base_result.set_index(BASE_COLUMNS)

# 使用 unstack() 将 'product_category' (vertical) 展开为列名
final_digital = df_pivot.unstack(level='vertical')

# 清理列名：扁平化列名 (MetricName_VerticalName)
final_digital.columns = [
    f'{col[0]}_{col[1]}' 
    for col in final_digital.columns
]

# 重置索引，使 account_id 成为常规列
final_digital = final_digital.reset_index()

# 检查最终列数，应该为 1 (account_id) + 4 * 5 = 21
expected_cols = 1 + 4 * len(REQUIRED_VERTICALS)
print(f"✅ 最终列数检查: {len(final_digital.columns)} (预期: {expected_cols})")
print("\n--- 最终 Wide Format 特征表 (保证包含所有 5 个 Vertical) ---")
print(final_digital.head())

✅ 最终列数检查: 21 (预期: 21)

--- 最终 Wide Format 特征表 (保证包含所有 5 个 Vertical) ---
                             account_id  PDP_View_6M_Count_all_day  \
0  00003ee6-0002-49bc-b0d2-844bece6998e                        0.0
1  00009933-9895-436c-9db9-8fd563bb1e7a                       79.0
2  000218fe-79bc-4727-8e42-a58ef8633245                       18.0
3  00031433-8c5b-4aeb-bbe0-d5946466d931                        6.0
4  00037415-438a-4a85-b67e-d6949e5551e1                      291.0

   PDP_View_6M_Count_outdoor  PDP_View_6M_Count_running  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        0.0                        0.0
4                        6.0                      215.0

   PDP_View_6M_Count_tennis  PDP_View_6M_Count_training  \
0                       0.0                         0.0
1                       0.0                         0.0
2                       0.0                         0.0
3                       0.0                         0.0
4                     578.0                       510.0

   PDP_View_Days_Since_Last_all_day  PDP_View_Days_Since_Last_outdoor  \
0                            9999.0                            9999.0
1                             104.0                            9999.0
2                               8.0                            9999.0
3                              45.0                            9999.0
4                              75.0                              93.0

   PDP_View_Days_Since_Last_running  PDP_View_Days_Since_Last_tennis  ...  \
0                            9999.0                           9999.0  ...
1                            9999.0                           9999.0  ...
2                            9999.0                           9999.0  ...
3                            9999.0                           9999.0  ...
4                              73.0                             67.0  ...

   ATC_6M_Count_all_day  ATC_6M_Count_outdoor  ATC_6M_Count_running  \
0                  20.0                   0.0                   0.0
1                   3.0                   0.0                   0.0
2                   0.0                   0.0                   0.0
3                   0.0                   0.0                   0.0
4                   0.0                   0.0                  13.0

   ATC_6M_Count_tennis  ATC_6M_Count_training  ATC_Days_Since_Last_all_day  \
0                  0.0                    0.0                        120.0
1                  0.0                    0.0                        104.0
2                  0.0                    0.0                       9999.0
3                  0.0                    0.0                       9999.0
4                  0.0                    0.0                       9999.0

   ATC_Days_Since_Last_outdoor  ATC_Days_Since_Last_running  \
0                       9999.0                       9999.0
1                       9999.0                       9999.0
2                       9999.0                       9999.0
3                       9999.0                       9999.0
4                       9999.0                        141.0

   ATC_Days_Since_Last_tennis  ATC_Days_Since_Last_training
0                      9999.0                        9999.0
1                      9999.0                        9999.0
2                      9999.0                        9999.0
3                      9999.0                        9999.0
4                      9999.0                        9999.0

[5 rows x 21 columns]

In [10]:
final_digital.describe()

,PDP_View_6M_Count_all_day,PDP_View_6M_Count_outdoor,PDP_View_6M_Count_running,PDP_View_6M_Count_tennis,PDP_View_6M_Count_training,PDP_View_Days_Since_Last_all_day,PDP_View_Days_Since_Last_outdoor,PDP_View_Days_Since_Last_running,PDP_View_Days_Since_Last_tennis,PDP_View_Days_Since_Last_training,ATC_6M_Count_all_day,ATC_6M_Count_outdoor,ATC_6M_Count_running,ATC_6M_Count_tennis,ATC_6M_Count_training,ATC_Days_Since_Last_all_day,ATC_Days_Since_Last_outdoor,ATC_Days_Since_Last_running,ATC_Days_Since_Last_tennis,ATC_Days_Since_Last_training
count,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000,88215.000000
mean,250.862268,19.098181,171.323890,79.878014,41.546120,3968.443031,7262.281800,3854.496083,6560.715037,6675.325920,13.095483,1.605010,10.135975,3.556277,2.496718,7748.300176,9271.154021,8082.806359,9131.567681,9237.565437
std,1107.565983,116.309628,834.739418,646.890139,194.631792,4867.363848,4443.778308,4837.435442,4728.957672,4694.100782,493.061516,15.916696,74.144495,30.599875,15.257070,4152.057316,2584.604729,3914.048191,2800.443088,2639.804716
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,101.000000,32.000000,76.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
50%,13.000000,0.000000,10.000000,0.000000,0.000000,83.000000,9999.000000,79.000000,9999.000000,9999.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
75%,127.000000,2.000000,72.000000,8.000000,14.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
max,112807.000000,6048.000000,66167.000000,92438.000000,9618.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,144069.000000,3230.000000,15894.000000,4658.000000,1623.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000

In [15]:
final_digital[final_digital['PDP_View_6M_Count_all_day']>100000]

,account_id,PDP_View_6M_Count_all_day,PDP_View_6M_Count_outdoor,PDP_View_6M_Count_running,PDP_View_6M_Count_tennis,PDP_View_6M_Count_training,PDP_View_Days_Since_Last_all_day,PDP_View_Days_Since_Last_outdoor,PDP_View_Days_Since_Last_running,PDP_View_Days_Since_Last_tennis,...,ATC_6M_Count_all_day,ATC_6M_Count_outdoor,ATC_6M_Count_running,ATC_6M_Count_tennis,ATC_6M_Count_training,ATC_Days_Since_Last_all_day,ATC_Days_Since_Last_outdoor,ATC_Days_Since_Last_running,ATC_Days_Since_Last_tennis,ATC_Days_Since_Last_training
59808,ad9aaf3d-d0f2-4c16-a4df-740c33777ed5,112807.0,2465.0,14131.0,4061.0,1371.0,2.0,6.0,7.0,6.0,...,144069.0,823.0,15894.0,356.0,56.0,6.0,10.0,19.0,70.0,0.0

# ========================= COMMUNITY ACTIVITY =======================

## ========= READ ACTIVITY DATA ========

In [16]:
query = '''SELECT t1.*,t2.name,t2.activity_label
  FROM `dwd_community_activity` t1
  join `dim_community_info` t2
  on t1.community_activity_id  =  t2.id
  '''

try:
    activity = pd.read_sql(query, engine)
    print("\n--- 数据库数据加载到 Pandas DataFrame ---")
    print(activity.head())
except Exception as e:
    print(f"读取数据失败: {e}")

--- 数据库数据加载到 Pandas DataFrame ---
   id  community_activity_id                            member_uid  \
0   3                     10  a0c5737c-b9f1-4f27-9123-35e7d8635b35
1   7                     12  ecccb892-9768-43f2-808a-697a92819c37
2   8                     12  8d042a53-a52b-4d0e-a739-26ddf86f0407
3   9                     12  9ce56446-8045-4410-8350-c85b736b8c63
4  10                     12  d2b1fe6e-d83d-444c-a63a-2aeabf175cbe

  member_name shoes_size          created_at         check_in_at created_date  \
0        None         37 2025-07-31 04:29:24 2025-08-02 08:42:13   2025-07-31
1        None         41 2025-07-31 08:03:12 2025-08-03 06:01:37   2025-07-31
2        None         39 2025-07-31 08:06:08 2025-08-03 06:03:13   2025-07-31
3        None         42 2025-07-31 08:08:16                 NaT   2025-07-31
4        None         46 2025-07-31 08:13:37 2025-08-03 06:10:47   2025-07-31

  check_in_date                name activity_label
0    2025-08-02        运动康复&损伤预防分享会           昂跑夏训
1    2025-08-03  「开启昂跑夏训」8.3佛慧山跑坡训练           昂跑夏训
2    2025-08-03  「开启昂跑夏训」8.3佛慧山跑坡训练           昂跑夏训
3          None  「开启昂跑夏训」8.3佛慧山跑坡训练           昂跑夏训
4    2025-08-03  「开启昂跑夏训」8.3佛慧山跑坡训练           昂跑夏训

## ========= ACTIVITY PARTICIPATION ========

In [17]:

cond_run = activity['name'].str.contains(
    '跑|lsd|间歇|变速跑|例跑|夜跑|公里|km|shake out run|run now|畅跑|跑坡', 
    na=False, case=False
)

cond_outdoor = activity['name'].str.contains(
    '徒步|山|龙洞', 
    na=False, case=False
)

cond_train = activity['name'].str.contains(
    '训练|力量|康复|crossfit|training|hyrox|备赛|分享会|夏训|课程', 
    na=False, case=False
)

conditions = [cond_run, cond_outdoor, cond_train]
choices = ['run', 'outdoor', 'train']
default_value = 'others' 

activity['activity_category'] = np.select(conditions, choices, default=default_value)



result = activity.dropna(subset=['activity_category']).groupby(
    ['member_uid', 'activity_category']
).size().reset_index(name='count')

print(result)

                                member_uid activity_category  count
0     00005bc7-d65f-48f4-8ce1-611fefb5ea36            others      1
1     0011bb78-2a44-4e59-ad5b-d8d69498bd83               run      1
2     003f2002-3614-4ec3-9f44-29d73bc79d7a               run      1
3     0051d368-d613-434f-9782-378660355910               run      2
4     0051e08a-ec47-41cc-bd59-dc66ae16b06d            others      1
...                                    ...               ...    ...
3733  ff6009b3-7500-46ba-b4cb-a242f24eab4b               run      1
3734  ff6605a5-38ad-44e0-86de-509e32c39709               run      2
3735  ff957456-45c9-46ce-8f31-4463f84ae6b6               run      1
3736  ffa5bc7d-8421-43d7-ac7c-b24ceb4319ea               run      1
3737  ffad20f9-eb19-4bba-907e-5f7b4c287587               run      2

[3738 rows x 3 columns]

In [18]:
# --- 步骤 5: 关键的特征 Wide Format (透视/展开) 转换 ---

# 设置 'account_id' 和 'product_category' 为 MultiIndex
df_pivot_act = result.set_index(['member_uid','activity_category'])

# 使用 unstack() 将 'product_category' (vertical) 展开为列名
final_activity = df_pivot_act.unstack(level='activity_category')

# 清理列名：扁平化列名 (MetricName_VerticalName)
final_activity.columns = [
    f'{col[0]}_{col[1]}' 
    for col in final_activity.columns
]

# 重置索引，使 account_id 成为常规列
final_activity = final_activity.fillna(0).reset_index()

# 检查最终列数，应该为 1 (account_id) + 4 * 5 = 21
expected_cols = 1 + 4 * len(REQUIRED_VERTICALS)
print(f"✅ 最终列数检查: {len(final_activity.columns)} (预期: {expected_cols})")
print("\n--- 最终 Wide Format 特征表 (保证包含所有 5 个 Vertical) ---")
print(final_activity.head())

✅ 最终列数检查: 5 (预期: 21)

--- 最终 Wide Format 特征表 (保证包含所有 5 个 Vertical) ---
                             member_uid  count_others  count_outdoor  \
0  00005bc7-d65f-48f4-8ce1-611fefb5ea36           1.0            0.0
1  0011bb78-2a44-4e59-ad5b-d8d69498bd83           0.0            0.0
2  003f2002-3614-4ec3-9f44-29d73bc79d7a           0.0            0.0
3  0051d368-d613-434f-9782-378660355910           0.0            0.0
4  0051e08a-ec47-41cc-bd59-dc66ae16b06d           1.0            0.0

   count_run  count_train
0        0.0          0.0
1        1.0          0.0
2        1.0          0.0
3        2.0          0.0
4        0.0          0.0

In [19]:
final_activity.shape

(3262, 5)

In [27]:
today_str

'2025-11-24'

# ========================= RFM BY VERTICAL =======================

In [29]:
today = pd.Timestamp.now()

# 格式化为常见的 YYYY-MM-DD 字符串
today_str_sql = f"'{today.strftime('%Y-%m-%d')}'"

query = f'''-- 1. 定义计算基准日期 (TODAY) 和时间窗口
WITH
  params AS (
    SELECT
      CAST({today_str_sql} AS DATE) AS TODAY,
      DATE_SUB(CAST({today_str_sql} AS DATE), INTERVAL 6 MONTH) AS DATE_6M_AGO,
      DATE_SUB(CAST({today_str_sql} AS DATE), INTERVAL 2 YEAR) AS DATE_2Y_AGO
  ),
  
-- 2. 筛选相关品类并标准化数据
filtered_orders AS (
  SELECT
    member_uid,
    CAST(date AS DATE) AS purchase_date, -- 确保时间是DATE类型
    case when vertical = 'Performance All Day' or vertical = 'PAD' then 'all_day'
      when vertical = 'Performance Running' or vertical = 'PR' then 'running'
  when vertical = 'Performance Training ' or vertical = 'PTR' then 'training'
  when vertical = 'Performance Tennis' or vertical = 'PT' then 'tennis'
  when vertical = 'Performance Outdoor' or vertical = 'PO' then 'outdoor' end as vertical,
    `AR Revenue` as purchase_amount
  FROM
    `dwd_dtc_store_sales_order_detail` t1
  LEFT JOIN `dim_product_colors_info` t2
  ON t1.`product_id(style)` = t2.`product_id(style)` 
  where (member_uid != '' or member_uid != NULL ) and is_gift = 0 
),

-- 3. 计算 R (Recency) - 距今最近一次购买的天数
R_features AS (
  SELECT
    t1.member_uid,
    t1.vertical,
    DATEDIFF(p.TODAY,MAX(t1.purchase_date)) AS recency_days 
  FROM
    filtered_orders AS t1
  CROSS JOIN 
    params AS p
  GROUP BY
    t1.member_uid, t1.vertical, p.TODAY
),

-- 4. 计算 F & M (6个月)
FM_6M_features AS (
  SELECT
    t1.member_uid,
    t1.vertical,
    COUNT(*) AS frequency_6m,
    SUM(t1.purchase_amount) AS monetary_6m
  FROM
    filtered_orders AS t1, params AS p
  WHERE
    t1.purchase_date >= p.DATE_6M_AGO
  GROUP BY
    1, 2
),

-- 5. 计算 F & M (2年)
FM_2Y_features AS (
  SELECT
    t1.member_uid,
    t1.vertical,
    COUNT(*) AS frequency_2y,
    SUM(t1.purchase_amount) AS monetary_2y
  FROM
    filtered_orders AS t1, params AS p
  WHERE
    t1.purchase_date >= p.DATE_2Y_AGO
  GROUP BY
    1, 2
)

-- 6. 最终的 Full Join 和 Pivot (使用条件聚合实现)
SELECT
  t1.member_uid,

  -- R 特征
  MAX(CASE WHEN t2.vertical = 'running' THEN t2.recency_days ELSE NULL END) AS R_run,
  MAX(CASE WHEN t2.vertical = 'tennis' THEN t2.recency_days ELSE NULL END) AS R_tennis,
  MAX(CASE WHEN t2.vertical = 'all_day' THEN t2.recency_days ELSE NULL END) AS R_allday,
  MAX(CASE WHEN t2.vertical = 'training' THEN t2.recency_days ELSE NULL END) AS R_training,
  MAX(CASE WHEN t2.vertical = 'outdoor' THEN t2.recency_days ELSE NULL END) AS R_outdoor,

  -- F_6M 特征
  COALESCE(MAX(CASE WHEN t3.vertical = 'running' THEN t3.frequency_6m ELSE NULL END), 0) AS F_run_6m,
  COALESCE(MAX(CASE WHEN t3.vertical = 'tennis' THEN t3.frequency_6m ELSE NULL END), 0) AS F_tennis_6m,
  COALESCE(MAX(CASE WHEN t3.vertical = 'all_day' THEN t3.frequency_6m ELSE NULL END), 0) AS F_allday_6m,
  COALESCE(MAX(CASE WHEN t3.vertical = 'training' THEN t3.frequency_6m ELSE NULL END), 0) AS F_training_6m,
  COALESCE(MAX(CASE WHEN t3.vertical = 'outdoor' THEN t3.frequency_6m ELSE NULL END), 0) AS F_outdoor_6m,

  -- M_6M 特征
  COALESCE(MAX(CASE WHEN t3.vertical = 'running' THEN t3.monetary_6m ELSE NULL END), 0) AS M_run_6m,
  COALESCE(MAX(CASE WHEN t3.vertical = 'tennis' THEN t3.monetary_6m ELSE NULL END), 0) AS M_tennis_6m,
  COALESCE(MAX(CASE WHEN t3.vertical = 'all_day' THEN t3.monetary_6m ELSE NULL END), 0) AS M_allday_6m,
  COALESCE(MAX(CASE WHEN t3.vertical = 'training' THEN t3.monetary_6m ELSE NULL END), 0) AS M_training_6m,
  COALESCE(MAX(CASE WHEN t3.vertical = 'outdoor' THEN t3.monetary_6m ELSE NULL END), 0) AS M_outdoor_6m,

  -- F_2Y 特征
  COALESCE(MAX(CASE WHEN t4.vertical = 'running' THEN t4.frequency_2y ELSE NULL END), 0) AS F_run_2y,
  COALESCE(MAX(CASE WHEN t4.vertical = 'tennis' THEN t4.frequency_2y ELSE NULL END), 0) AS F_tennis_2y,
  COALESCE(MAX(CASE WHEN t4.vertical = 'all_day' THEN t4.frequency_2y ELSE NULL END), 0) AS F_allday_2y,
  COALESCE(MAX(CASE WHEN t4.vertical = 'training' THEN t4.frequency_2y ELSE NULL END), 0) AS F_training_2y,
  COALESCE(MAX(CASE WHEN t4.vertical = 'outdoor' THEN t4.frequency_2y ELSE NULL END), 0) AS F_outdoor_2y,

  -- M_2Y 特征
  COALESCE(MAX(CASE WHEN t4.vertical = 'running' THEN t4.monetary_2y ELSE NULL END), 0) AS M_run_2y,
  COALESCE(MAX(CASE WHEN t4.vertical = 'tennis' THEN t4.monetary_2y ELSE NULL END), 0) AS M_tennis_2y,
  COALESCE(MAX(CASE WHEN t4.vertical = 'all_day' THEN t4.monetary_2y ELSE NULL END), 0) AS M_allday_2y,
  COALESCE(MAX(CASE WHEN t4.vertical = 'training' THEN t4.monetary_2y ELSE NULL END), 0) AS M_training_2y,
  COALESCE(MAX(CASE WHEN t4.vertical = 'outdoor' THEN t4.monetary_2y ELSE NULL END), 0) AS M_outdoor_2y

FROM
  -- 获取所有用户 ID
  (SELECT DISTINCT member_uid FROM `dwd_dtc_store_sales_order_detail` 
  where (member_uid != '' or member_uid != NULL )) AS t1

  -- 左连接 R 特征
  LEFT JOIN R_features AS t2 ON t1.member_uid = t2.member_uid
  -- 左连接 FM 6M 特征
  LEFT JOIN FM_6M_features AS t3 ON t1.member_uid = t3.member_uid AND t2.vertical = t3.vertical
  -- 左连接 FM 2Y 特征
  LEFT JOIN FM_2Y_features AS t4 ON t1.member_uid = t4.member_uid AND t2.vertical = t4.vertical

GROUP BY
  t1.member_uid
ORDER BY
  t1.member_uid
  '''

try:
    base_RFM_vertical = pd.read_sql(query, engine)
    print("\n--- 数据库数据加载到 Pandas DataFrame ---")
    print(base_RFM_vertical.head())
except Exception as e:
    print(f"读取数据失败: {e}")

--- 数据库数据加载到 Pandas DataFrame ---
                             member_uid  R_run  R_tennis  R_allday  \
0  00002e60-ebe4-44fd-a7d2-4cbe3b258915  817.0       NaN       NaN
1  0000b440-edb7-4caa-9d38-e2ecd7f51fc1  509.0       NaN       NaN
2  00011f0e-72ab-4ff2-aecf-8320568cbc41  183.0       NaN       NaN
3  00012556-7448-4973-9b36-cffcda909fe2  496.0       NaN       NaN
4  00012c6b-6682-4ade-931b-1d928a4b131a  555.0       NaN       NaN

   R_training  R_outdoor  F_run_6m  F_tennis_6m  F_allday_6m  F_training_6m  \
0         NaN        NaN         0            0            0              0
1         NaN        NaN         0            0            0              0
2       182.0        NaN         1            0            0              5
3         NaN        NaN         0            0            0              0
4         NaN        NaN         0            0            0              0

   ...  F_run_2y  F_tennis_2y  F_allday_2y  F_training_2y  F_outdoor_2y  \
0  ...         0            0            0              0             0
1  ...         3            0            0              0             0
2  ...         1            0            0              5             0
3  ...         1            0            0              0             0
4  ...         1            0            0              0             0

   M_run_2y  M_tennis_2y  M_allday_2y  M_training_2y  M_outdoor_2y
0       0.0          0.0          0.0            0.0           0.0
1    4270.0          0.0          0.0            0.0           0.0
2    1190.0          0.0          0.0         1190.0           0.0
3    1190.0          0.0          0.0            0.0           0.0
4     595.0          0.0          0.0            0.0           0.0

[5 rows x 26 columns]

In [30]:
base_RFM_vertical.describe()

,R_run,R_tennis,R_allday,R_training,R_outdoor,F_run_6m,F_tennis_6m,F_allday_6m,F_training_6m,F_outdoor_6m,...,F_run_2y,F_tennis_2y,F_allday_2y,F_training_2y,F_outdoor_2y,M_run_2y,M_tennis_2y,M_allday_2y,M_training_2y,M_outdoor_2y
count,359562.000000,73003.000000,378892.000000,134027.000000,110532.000000,796733.000000,796733.000000,796733.000000,796733.000000,796733.000000,...,796733.000000,796733.000000,796733.000000,796733.000000,796733.000000,796733.000000,796733.000000,796733.000000,796733.000000,796733.000000
mean,317.450924,270.724409,270.320503,207.759996,316.624018,0.363048,0.076249,0.430646,0.144164,0.090141,...,0.924652,0.174072,0.984197,0.298441,0.229766,635.861020,115.565544,590.280393,178.503736,165.222333
std,251.272739,222.185706,231.245624,140.838408,250.066965,1.250127,0.611531,1.643098,0.624811,0.516804,...,2.277200,1.022817,2.649845,0.888166,0.871734,1466.553205,631.005510,1667.759608,526.011522,661.057132
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-7140.000000,-3380.000000,-10520.000000,-3570.000000,-5070.000000
25%,125.000000,91.000000,88.000000,89.000000,120.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,236.000000,214.000000,209.000000,189.000000,266.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,483.000000,415.000000,398.000000,289.000000,455.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,1210.000000,0.000000,1090.000000,0.000000,0.000000
max,1385.000000,1266.000000,1385.000000,535.000000,1385.000000,268.000000,207.000000,827.000000,52.000000,83.000000,...,522.000000,335.000000,1104.000000,65.000000,133.000000,408726.000000,140014.000000,409852.000000,51170.000000,118299.900000

In [31]:
final_RFM_vertical = base_RFM_vertical.fillna({
    'R_run': 9999,
    'R_tennis':9999,
    'R_allday': 9999,
    'R_training':9999,
    'R_outdoor':9999
})

In [32]:
final_RFM_vertical.shape

(796733, 26)

# =================== MERGE & SCORING ===================

In [ ]:
# member left join RFM left join activity left join digital

In [36]:
# ===================== EMPLOYEE ===================== #

EMPLOYEE_MYSQL = 'stg_employee'
try:
    employee = pd.read_sql_table(
        table_name=EMPLOYEE_MYSQL, 
        con=engine
    )

    print(f"\n✅ 成功加载表 '{EMPLOYEE_MYSQL}'，共 {len(employee)} 行。")
    print("\nDataFrame 头部数据:")
    display(employee.head()) 

except Exception as e:
    print(f"❌ 加载表时出错: {e}")
    

# ===================== MEMBER ===================== #

MEMBER_MYSQL = 'dwd_crm_members'
try:
    member = pd.read_sql_table(
        table_name=MEMBER_MYSQL, 
        con=engine
    )

    print(f"\n✅ 成功加载表 '{MEMBER_MYSQL}'，共 {len(member)} 行。")
    print("\nDataFrame 头部数据:")
    display(member.head()) 

except Exception as e:
    print(f"❌ 加载表时出错: {e}")
    

    
employee_ids = employee['member_uid'].unique()
member_filtered = member[~member['member_uid'].isin(employee_ids)].copy()

print(f"\n✅ 成功过滤员工，共 {len(member_filtered)} 行。")
display(member_filtered.head())

✅ 成功过滤员工，共 1078606 行。

,member_channel,member_store,store_code,store_name,member_uid,member_uid_one,is_omni_channel_member,is register dtc,register_channel,register_time,...,genderId,gender,province,city,district,hobbies,is employee,employee status,Suspected Scalper Customer,member_uid_one_flg
0,DTC-Mp & Web,Mp & Web,None,None,4af0541c-148f-4f5c-a9f3-7e434b7f09f2,4af0541c-148f-4f5c-a9f3-7e434b7f09f2,true,1,Wechat Mp,2025-10-20 15:04:02,...,None,None,None,None,None,None,0,None,0,1
1,DTC-Mp & Web,Mp & Web,None,None,9cf1e32c-e4b3-49c1-bd38-fbaf93552a33,9cf1e32c-e4b3-49c1-bd38-fbaf93552a33,true,1,Wechat Mp,2024-10-22 00:46:16,...,None,None,None,None,None,None,0,None,0,1
2,DTC-RETAIL,On昂跑 深圳益田假日广场,S0017,On昂跑 深圳益田假日广场,14749aac-e36a-4477-bfa1-fede3b3c3fe4,14749aac-e36a-4477-bfa1-fede3b3c3fe4,true,1,Wechat Mp,2024-01-11 16:21:10,...,None,None,None,None,None,None,0,None,0,1
3,DTC-Mp & Web,Mp & Web,None,None,793d6c2d-2230-4e64-8287-176a78e0a8bd,793d6c2d-2230-4e64-8287-176a78e0a8bd,true,1,Wechat Mp,2025-04-01 17:48:55,...,1,Male,广东省,深圳市,光明区,"[""路跑,综合训练,越野跑""]",0,None,0,1
4,DTC-Mp & Web,Mp & Web,None,None,e69b772c-34c0-49de-80c9-92f4dc256a7c,e69b772c-34c0-49de-80c9-92f4dc256a7c,true,1,Wechat Mp,2024-10-30 15:07:49,...,None,None,None,None,None,None,0,None,0,1

In [37]:
final_df = member_filtered[['member_uid']].merge(final_digital, left_on='member_uid',right_on='account_id', how='left') \
              .merge(final_activity, on='member_uid', how='left') \
              .merge(final_RFM_vertical, on='member_uid', how='left')

# 查看结果
final_df.head()

,member_uid,account_id,PDP_View_6M_Count_all_day,PDP_View_6M_Count_outdoor,PDP_View_6M_Count_running,PDP_View_6M_Count_tennis,PDP_View_6M_Count_training,PDP_View_Days_Since_Last_all_day,PDP_View_Days_Since_Last_outdoor,PDP_View_Days_Since_Last_running,...,F_run_2y,F_tennis_2y,F_allday_2y,F_training_2y,F_outdoor_2y,M_run_2y,M_tennis_2y,M_allday_2y,M_training_2y,M_outdoor_2y
0,4af0541c-148f-4f5c-a9f3-7e434b7f09f2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9cf1e32c-e4b3-49c1-bd38-fbaf93552a33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14749aac-e36a-4477-bfa1-fede3b3c3fe4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,0.0,0.0,1290.0,0.0,1190.0,0.0,0.0
3,793d6c2d-2230-4e64-8287-176a78e0a8bd,793d6c2d-2230-4e64-8287-176a78e0a8bd,1866.0,212.0,4320.0,400.0,472.0,1.0,4.0,4.0,...,21.0,0.0,5.0,2.0,2.0,1490.0,0.0,220.0,0.0,0.0
4,e69b772c-34c0-49de-80c9-92f4dc256a7c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# ======================= ANALYSIS =======================

In [38]:
# x = RFM_vertical.merge(final_wide_df_act, on='member_uid', how='left') \
#               .merge(final_wide_df, left_on='member_uid', right_on='account_id',how='left')

final_df.describe()

,PDP_View_6M_Count_all_day,PDP_View_6M_Count_outdoor,PDP_View_6M_Count_running,PDP_View_6M_Count_tennis,PDP_View_6M_Count_training,PDP_View_Days_Since_Last_all_day,PDP_View_Days_Since_Last_outdoor,PDP_View_Days_Since_Last_running,PDP_View_Days_Since_Last_tennis,PDP_View_Days_Since_Last_training,...,F_run_2y,F_tennis_2y,F_allday_2y,F_training_2y,F_outdoor_2y,M_run_2y,M_tennis_2y,M_allday_2y,M_training_2y,M_outdoor_2y
count,87528.000000,87528.000000,87528.000000,87528.000000,87528.000000,87528.000000,87528.000000,87528.000000,87528.000000,87528.000000,...,422744.000000,422744.000000,422744.000000,422744.000000,422744.000000,422744.000000,422744.000000,422744.000000,422744.000000,422744.000000
mean,227.920254,16.300258,156.826410,75.349248,36.546237,3995.732531,7306.678126,3881.305502,6599.884563,6717.524038,...,1.097073,0.173538,1.019721,0.282145,0.243786,871.429087,130.530978,714.919409,196.318101,207.460588
std,954.149943,99.182433,779.751988,638.898307,167.848852,4872.961496,4420.949205,4843.608265,4715.911253,4678.845629,...,2.547249,1.238360,3.087070,0.892701,0.927846,1684.576225,759.575312,1915.068579,562.665457,766.820993
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-6406.050000,-3380.000000,-10520.000000,-3570.000000,-5070.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,103.000000,33.000000,77.000000,74.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,12.000000,0.000000,10.000000,0.000000,0.000000,84.000000,9999.000000,80.000000,9999.000000,9999.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,122.000000,2.000000,68.000000,8.000000,14.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,1390.000000,0.000000,1190.000000,0.000000,0.000000
max,94896.000000,6048.000000,66167.000000,92438.000000,9618.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,...,489.000000,335.000000,1104.000000,65.000000,133.000000,142599.400000,140014.000000,388090.000000,41580.000000,118299.900000

In [52]:
print(final_digital.shape)
print(final_activity.shape)
print(final_RFM_vertical.shape)

(88215, 21)
(3262, 5)
(796733, 26)

In [47]:
final_df_analysis = final_df.copy()
final_df_analysis['valid_column_count'] = final_df_analysis.count(axis=1)
final_df_analysis.groupby('valid_column_count').size().reset_index(name='row_count')

   valid_column_count  row_count
0                   1     610098
1                   5       1854
2                  22      43025
3                  26     379896
4                  30        115
5                  47      43237
6                  51        381

| # | valid\_column\_count | row\_count | 描述 (Description) |
| :---: | :------------------: | :---------: | :------------------ |
| 0 | 1 | 610098 | no info |
| 1 | 5 | 1854 | only activity |
| 2 | 22 | 43025 | only pdp & ATC |
| 3 | 26 | 379896 | only RFM |
| 4 | 30 | 115 | activity + RFM |
| 5 | 47 | 43237 | pdp & atc + RFM |
| 6 | 51 | 381 | activity + pdp & atc + RFM |

In [56]:
final_df[final_df['valid_column_count']==47].head(5)

,member_uid,account_id,PDP_View_6M_Count_all_day,PDP_View_6M_Count_outdoor,PDP_View_6M_Count_running,PDP_View_6M_Count_tennis,PDP_View_6M_Count_training,PDP_View_Days_Since_Last_all_day,PDP_View_Days_Since_Last_outdoor,PDP_View_Days_Since_Last_running,PDP_View_Days_Since_Last_tennis,PDP_View_Days_Since_Last_training,ATC_6M_Count_all_day,ATC_6M_Count_outdoor,ATC_6M_Count_running,ATC_6M_Count_tennis,ATC_6M_Count_training,ATC_Days_Since_Last_all_day,ATC_Days_Since_Last_outdoor,ATC_Days_Since_Last_running,ATC_Days_Since_Last_tennis,ATC_Days_Since_Last_training,count_others,count_outdoor,count_run,count_train,R_run,R_tennis,R_allday,R_training,R_outdoor,F_run_6m,F_tennis_6m,F_allday_6m,F_training_6m,F_outdoor_6m,M_run_6m,M_tennis_6m,M_allday_6m,M_training_6m,M_outdoor_6m,F_run_2y,F_tennis_2y,F_allday_2y,F_training_2y,F_outdoor_2y,M_run_2y,M_tennis_2y,M_allday_2y,M_training_2y,M_outdoor_2y,valid_column_count
3,793d6c2d-2230-4e64-8287-176a78e0a8bd,793d6c2d-2230-4e64-8287-176a78e0a8bd,1866.0,212.0,4320.0,400.0,472.0,1.0,4.0,4.0,29.0,23.0,166.0,104.0,373.0,0.0,47.0,83.0,106.0,4.0,9999.0,44.0,NaN,NaN,NaN,NaN,31.0,9999.0,85.0,231.0,195.0,13.0,0.0,4.0,0.0,0.0,-520.0,0.0,-1270.0,0.0,0.0,21.0,0.0,5.0,2.0,2.0,1490.0,0.0,220.0,0.0,0.0,47
23,5d96e781-c1c4-49e4-8f67-fec0bca21da6,5d96e781-c1c4-49e4-8f67-fec0bca21da6,202.0,8.0,43.0,8.0,16.0,33.0,33.0,33.0,110.0,33.0,36.0,0.0,0.0,0.0,0.0,109.0,9999.0,9999.0,9999.0,9999.0,NaN,NaN,NaN,NaN,9999.0,9999.0,216.0,9999.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1290.0,0.0,0.0,47
32,9364e006-fb8e-41ea-8b69-dc03525d6f4d,9364e006-fb8e-41ea-8b69-dc03525d6f4d,20.0,2.0,12.0,80.0,0.0,60.0,47.0,89.0,48.0,9999.0,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,9999.0,9999.0,9999.0,NaN,NaN,NaN,NaN,242.0,9999.0,9999.0,9999.0,242.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,47
49,ba6ca898-e6d0-45af-b2e7-234d131c0042,ba6ca898-e6d0-45af-b2e7-234d131c0042,777.0,88.0,60.0,42.0,164.0,58.0,58.0,58.0,63.0,98.0,2.0,0.0,10.0,0.0,7.0,58.0,9999.0,99.0,9999.0,99.0,NaN,NaN,NaN,NaN,199.0,466.0,58.0,249.0,193.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,690.0,0.0,0.0,9.0,3.0,16.0,3.0,2.0,7450.0,4770.0,9670.0,2170.0,4890.0,47
55,653b7fa8-88f1-47cc-9557-cbd20d86f37a,653b7fa8-88f1-47cc-9557-cbd20d86f37a,1759.0,210.0,5404.0,502.0,189.0,50.0,50.0,50.0,61.0,50.0,2.0,76.0,430.0,0.0,0.0,151.0,137.0,74.0,9999.0,9999.0,NaN,NaN,NaN,NaN,85.0,9999.0,75.0,9999.0,9999.0,2.0,0.0,1.0,0.0,0.0,2080.0,0.0,790.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,2080.0,0.0,790.0,0.0,0.0,47